*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(243,243,243);
    font-family: Roboto sans-serif;
}

a{
    text-decoration: none;
}